.form-inline{width: 1200px; min-width: 800px; margin-bottom: 10px}
#linha{width: 900px}

#nome-field{width: 100%;}
#posto-field{width: 100%;}
#cargo-field{width: 100%}
#funcao-field{width: 100%}
#tipo-field{width: 100%}
#status-field{width: 100%}
#horario-field{width: 100%}
